@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Lato&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baloo Chettan 2", cursive;
  line-height: 1.4;
}

li,
p,
blockquote,
span {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1c1c1c;
  color: #1c1c1c;
}

body .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background: #cccccc;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-image: url(../img/header.jpg);
  height: 400px;
  width: 100%;
}

header h1 {
  font-size: 40px;
  color: #bf5e40;
  padding-top: 30px;
  padding-left: 80px;
  top: 0;
  position: absolute;
  -webkit-animation: wave1 10s infinite;
          animation: wave1 10s infinite;
}

@-webkit-keyframes wave1 {
  0% {
    -webkit-transform: translateY(10%) rotate(6deg);
            transform: translateY(10%) rotate(6deg);
  }
  20% {
    -webkit-transform: translateY(10%) rotate(-2deg);
            transform: translateY(10%) rotate(-2deg);
  }
  60% {
    -webkit-transform: translateY(10%) rotate(6deg);
            transform: translateY(10%) rotate(6deg);
  }
  80% {
    -webkit-transform: translateY(10%) rotate(-2deg);
            transform: translateY(10%) rotate(-2deg);
  }
  100% {
    -webkit-transform: translateY(10%) rotate(6deg);
            transform: translateY(10%) rotate(6deg);
  }
}

@keyframes wave1 {
  0% {
    -webkit-transform: translateY(10%) rotate(6deg);
            transform: translateY(10%) rotate(6deg);
  }
  20% {
    -webkit-transform: translateY(10%) rotate(-2deg);
            transform: translateY(10%) rotate(-2deg);
  }
  60% {
    -webkit-transform: translateY(10%) rotate(6deg);
            transform: translateY(10%) rotate(6deg);
  }
  80% {
    -webkit-transform: translateY(10%) rotate(-2deg);
            transform: translateY(10%) rotate(-2deg);
  }
  100% {
    -webkit-transform: translateY(10%) rotate(6deg);
            transform: translateY(10%) rotate(6deg);
  }
}

nav {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 25vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  color: #3ca8da;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
}

nav .social {
  width: 8%;
}

nav .social i {
  margin-left: 14%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main aside {
  width: 300px;
  
}

input{
  background-color: darkorange;
  border: none;
  color: white;
  border-radius: 5%;
  padding: 1% 2%;
  margin: 5% 2%;
}
#submitbtn{
  width: 80%;
  margin: 0 5%;
}
form div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .slideshow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main .slideshow img{
  opacity: 0;
  transition: 1s;
  position: absolute;
}
main .slideshow img.show{
  opacity: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 270px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer i {
  color: #4095bf;
  font-size: 2rem;
  padding: 10px;
}

footer .citat {
  font-size: 1.2rem;
}

footer .quote {
  color: gray;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */