/* 
header: black, white
nav: #ef3d4d, white
.hero: #4c86c6, white
main: #24344b white
.image: #c1e4e6, black
.extra: #47bb94, black
.banner: #fed269, black
*/

.container {
  width: 1200px;
  margin: 0 auto;
  background: #eee;
  display: grid;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

/*  */
/*  */
.container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 95vh;
}

.container > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background: black;
  color: white;
}

nav {
  background: #ef3d4d;
  color: white;
  grid-column: 2 / 5;
}

.hero {
  background: #4c86c6;
  color: white;
  grid-column: 1 / 5;
}

main {
  background: #24344b;
  color: white;
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

.image {
  background: #c1e4e6;
  color: black;
  grid-column: 4 / 5;
}

.extra {
  background: #47bb94;
  color: black;
  grid-column: 4 / 5;
}

.banner {
  background: #fed269;
  color: black;
  grid-column: 1 / 5;
}

/* Hvad vi søger: http://maha.aspitcloud.dk/aspelev/videoer/andet/css3AnimationGallery.gif  */
/* Hvordan indsætter man billeder så de ligner baggrundsbilleder, men er <img>? - hint object-fit og object-position */
/* Hvordan roterer man billeder ved :hover over billedet eller dens <div>? Hint: css transform */
/* Hvordan roterer man billeder ned fra en bestemt position - så de ikke roterer fra midten af billedet? */
/* Hvordan sørger man for at billedernes rotation sker med en overgang? */
/* Hvordan sørger man for der ikke er delay når man hover over billeder, men der er delay når man "forlader" billedet? */
